{{ $lang := .Get "lang" | default .Page.Language.Lang }}
{{- $id := .Get "id" | default "" -}}
{{- $numbered := .Get "numbered" | default "true" -}}

<div class="math-env style-defn" 
    {{ with $id }}id="{{ . }}"{{ end }}
     data-kind="example"
     data-lang="{{ $lang }}"
     data-numbered="{{ $numbered }}">
  <span class="math-heading">
  <span class="math-title"
        data-label='{{ if eq $lang "zh" }}例子{{ else }}Example{{ end }}'></span>{{ with .Get "note" }} <span class="math-note">({{ . }})</span>{{ end }}
  </span>
  <span class="math-body">
    {{ .Inner | markdownify }}
  </span>
</div>
