{{/* layouts/shortcodes/figure.html */}}
{{- $id      := .Get "id"      | default "" -}}
{{- $src     := .Get "src"     | default "" -}}
{{- $alt     := .Get "alt"     | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $width   := .Get "width"   | default "60%" -}}
{{- $lang    := .Get "lang"    | default .Page.Language.Lang -}}

<div class="fig-env" {{ with $id }}id="{{ . }}"{{ end }} data-lang="{{ $lang }}">
  <div class="fig-body">
    {{- with $src -}}
      <img
        src="{{ . }}"
        alt="{{ $alt }}"
        style="max-width: {{ $width }}; height: auto; display: block; margin: 0 auto;"
      >
    {{- end -}}
  </div>

  <div class="fig-caption">
    <span class="fig-label"></span>
    <span class="fig-text">{{ $caption }}</span>
  </div>
</div>
