{{/* layouts/shortcodes/quiver.html */}}

{{- $src := .Get "src" | default (.Get 0) -}}
{{- $width := .Get "width" | default "100%" -}}
{{- $height := .Get "height" | default "180px" -}}

{{- $scale := .Get "scale" | default "1" -}}
{{- $tx := .Get "tx" | default "0" -}}   {{/* e.g. "10px", "-0.5rem" */}}
{{- $ty := .Get "ty" | default "0" -}}   {{/* e.g. "6px" */}}

{{- $radius := .Get "radius" | default "0rem" -}}

<figure class="quiver-wrapper"
        style="--quiver-radius: {{ $radius }};">
  <iframe
    class="quiver-embed"
    src="{{ $src }}"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    style="
      width: {{ $width }};
      height: {{ $height }};
      border: 0;
      transform:
        translateX({{ $tx }})
        translateY({{ $ty }})
        scale({{ $scale }});
      transform-origin: center;
    "
  ></iframe>
</figure>