@import url("https://cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/style.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");

@font-face {
  font-family: "SourceHanSerifSCWeb";
  src: url("https://db.onlinewebfonts.com/t/53a3005ec212de45a404b4141e8df319.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/lmmono-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/lmmono-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/lmmono-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/lmmono-normal.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/lmroman-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/lmroman-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/lmroman-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/lmroman-normal.woff');
}

.link .arrow-icon {
  font-family: "Noto Sans Symbols 2",
                -apple-system, BlinkMacSystemFont,
               "Segoe UI", "Noto Sans",
               system-ui, sans-serif;
  margin-right: 0.2em;      /* 让箭头和 Back 稍微空一点，可调整 */
  display: inline-block;
  /* 可选：稍微微调一下竖直对齐 */
  transform: translateY(0.04em);
}

