@use "sass:math";

@use "../vars" as *;

.grid-container {
  display: block
  
}


body { counter-reset: fig; }

.fig-env {
  counter-increment: fig;       /* 每个 figure 都让 fig++ */
  margin: 1.5rem auto;
  text-align: center;           /* 图居中，可改 */
}

.fig-label {
  font-weight: 600; /* or 700 if you want stronger */
}


.fig-content {
  /* 这里放真正的图片/图表，保持居中 */
}

.fig-caption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}
